body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link{
  margin-left: 40px;
}

#supportHero{
 background-color: #367ED1;
 color: white ;
}

#supportHeroContent{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

#supportHero a{
    color: white;
    font-size: 18px;
}

#supportHero input{
    width: 80%;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
    border: none;
}

